<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#">
    Theoretisch rijexamen vragen
  </a>
  <button class="navbar-toggler" type="button"
    (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="isAuthenticated$ | async">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Gebruikers</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="users">Lijst</a>
          <a class="dropdown-item" routerLink="users/new">Nieuw</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated$ | async">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">Vragen</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="questions">Lijst</a>
          <a class="dropdown-item" routerLink="questions/new">Nieuw</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
    </ul>
  </div>
</nav>
